https://172.18.36.46:8443 {
    tls internal
    reverse_proxy 127.0.0.1:8000

    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
